@import "colors";
@import "fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 5.75rem 2rem;
  background-color: $veryLightGray;
  color: $veryDarkBlue;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 600;

  @media screen and (min-width: 1200px) {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 200;

  @media screen and (min-width: 1200px) {
    font-size: 2.2rem;
  }
}

p {
  margin-top: 1rem;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3rem;

  @media screen and (min-width: 1200px) {
    width: 36rem;
    margin: 1rem auto 5rem auto;
  }
}

h3 {
  font-weight: 600;

  @media screen and (min-width: 1200px) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 1.3rem;

  @media screen and (min-width: 1200px) {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

.cards {
  width: 100%;

  @media screen and (min-width: 1200px) {
    display: grid;
    width: 70rem;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: " . team . " "supervisor team calculator" "supervisor karma calculator" ". karma .";
    justify-items: center;
    grid-row-gap: 2rem;
  }

  .card {
    position: relative;
    width: 19.375rem;
    height: 13.875rem;
    margin: 1.5rem auto;
    border-radius: 4px;
    text-align: left;
    padding: 1.5rem;
    box-shadow: 0 4px 10px $grayishBlue;

    @media screen and (min-width: 1200px) {
      margin: 0;
      height: 15.6875;
      width: 21.9375rem;
    }

    .image {
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }

  .supervisor {
    border-top: 4px solid $cyan;

    @media screen and (min-width: 1200px) {
      grid-area: supervisor;
    }
  }

  .team {
    border-top: 4px solid $red;

    @media screen and (min-width: 1200px) {
      grid-area: team;
    }
  }

  .karma {
    border-top: 4px solid $orange;

    @media screen and (min-width: 1200px) {
      grid-area: karma;
    }
  }

  .calculator {
    border-top: 4px solid $blue;

    @media screen and (min-width: 1200px) {
      grid-area: calculator;
    }
  }
}
